h1 {
  color: crimson;
}

#main-heading {
  font-size: 48px;
}

body {
  background-color: slategray;
}

p strong {
  color: crimson;
}

.paragraphs {
  background-color: ghostwhite;
  padding: 1em;
  display: inline-block;
}
